{% extends "authentication/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" id="main-container">
    <form action="/login/" method="POST">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter email" name="email" id="email">

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password"'">

        <a href="/password_reset/">
            Forgot password
        </a>

        <button class="btn" type="submit">Login</button>
        {% csrf_token %}
        <br>
    </form>

    <p class="text-center"> or </p>

    <a href="/signup/"><button class="btn btn-primary">Sign up</button></a>
    <div class="social-signup">
        <a href="{% url "social:begin" "twitter" %}">
            <button class="btn twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
        </a>
        <a href="{% url "social:begin" "facebook" %}">
            <button class="btn facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
        </a>
        <a href="{% url "social:begin" "google-oauth2" %}">
            <button class="btn google"><i class="fa fa-google"></i> Sign in with Google</button>
        </a>
        <a href="{% url "social:begin" "linkedin-oauth2" %}">
            <button class="btn linkedin"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</button>
        </a>
    </div>
</div>
{% endblock %}