{% extends "authentication/base.html" %}

{% block title %}{{ title }}{% endblock %}



<div class="container" id="main-container">
    <p></p>

    <p><a href="{{ login_url }}">Log in</a></p>
</div>
{% block content %}
    <div class="Signin Popup">
        <h2 class="Signin_head" style="padding-bottom: 0;">Password reset done</h2>
        <p class="Signin_text">Your password has been set.  You may go ahead and log in now.</p>
        <p class="Signin_tipText">
            <a href="{{ login_url }}" class="Signin_tipLink">Sign in</a>
        </p>
    </div>
{% endblock %}
