{% extends "authentication/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="Recover Popup ">
        <h2 class="Recover_head">Forgot your password?</h2>
        <form method="post" class="Recover_form">
            {% csrf_token %}
            <div class="Recover_inputWrapper Recover_inputWrapper-email">
                <input type="email"
                       class="Recover_input"
                       name="email"
                       placeholder="Email address"
                       {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                <span class="Recover_error">{{ form.email.errors }}</span>
            </div>
            <p class="Recover_text">Dont worry: Resetting your possword to easy, just tell us the email adress
                registered with Zoom.</p>
            <button type="submit" class="Recover_btn Btn Btn-filledPink Btn-hoverWhite">Send
                <div class="Btn_iconWrapper Recover_btnIconWrapper">
                    <span class="Btn_icon Recover_btnIcon"></span>
                </div>
            </button>
        </form>
    </div>
{% endblock %}
