{% extends "authentication/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="Signin Popup">
        <h2 class="Signin_head" style="padding-bottom: 0;">Password reset</h2>
        <p class="Signin_text">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form class="Signin_form" method="post">
            {% csrf_token %}
            <div class="Signin_inputWrapper Signin_inputWrapper-password">
                <input type="password" class="Signin_input" placeholder="Password" name="new_password1">
                <span class="Signin_error"></span>
            </div>
            <div class="Signin_inputWrapper Signin_inputWrapper-password">
                <input type="password" class="Signin_input" placeholder="Confirm password" name="new_password2">
                <span class="Signin_error"></span>
            </div>
            <br/>
            <button type="submit" class="Signin_btn Btn Btn-filledPink Btn-hoverWhite">Continue
                <div class="Btn_iconWrapper Signin_btnIconWrapper">
                    <span class="Btn_icon Signin_btnIcon"></span>
                </div>
            </button>
        </form>
    </div>
{% endblock %}
