{% extends "authentication/base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<form action="/signup/" method="POST">
    <div class="container" id="main-container">
        <label for="usernamname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        <p class="text-center"> and/or </p>
        <label for="eth_account"><b>Etherium account</b></label>
        <input id="eth_account" type="text" placeholder="Enter etherium account" name="eth_account">

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">

        <button type="submit" class="btn-primary">Sign Up</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}
