.AboutSection
    position relative
    z-index 5
    &_pattern
        background white url('../img/common/svg/pattern.svg') no-repeat center
    &_container
        height 100%
        padding-top 20px
        padding-bottom 80px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 80px
        @media xs
            font-size 22px
            margin-bottom 20px
        @media sm
            margin-bottom 110px
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        @media md
            bottom -57px
    &_content
        @media md
            display flex
            flex-flow row nowrap
            justify-content center
            align-items flex-start
    &_contentText
        padding-right 12px
        padding-left 0
        @media xs
            padding 0 0
        @media sm
            padding-right 30px
            padding-left 30px
    &_text
        color #6b7c93
        font-weight 400
        &:not(:last-of-type)
            padding-bottom 20px
        &:last-of-type
            padding-bottom 50px
    &_img
        size auto 750px
        position relative
        margin-top -132px
        @media xs
            display block
            margin 0 auto 20px
            size 58vw auto
        @media sm
            height 500px
            margin -85px auto 30px
            display block
        @media md
            right 50px
    &_buttonsWrapper
        @media sm
            display flex
            justify-content center
    &_btnWrapper
        display inline-block
        // animation-duration .6s
        @media xs
            display block
            margin-bottom 25px
        @media md
            white-space nowrap
    &_btn
        margin-bottom 40px
        background-image linear-gradient(90deg, #f84f78 50%, #316fdf 50%) !important
        @media xs
            width 100%
        @media sm
            width 258px
            display block
            margin-left auto
            margin-right auto
        @media md
            display inline-block !important
            margin-bottom 135px
        &:first-of-type
            @media smMinus
                margin-bottom 15px
    &_btnDocs
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        // width 190px
        color blue
        transition color .25s ease
        cursor pointer
        @media xs
            width 250px
        &:hover
            color pink
        svg
            margin-left 25px
        circle
            transition fill .25s ease
    &_btnDocs:hover circle
        fill pink
    &_docsWrapper
        display inline-block
        position relative
        margin-left 45px
        @media xs
            margin 0 auto
            display flex
            justify-content center
    &_docsHeader
        color blue
        padding-bottom 15px
        margin-bottom 15px
        border-bottom 1px solid rgba(151,151,151,.2)
    &_docsClose
        position absolute
        top 21px
        right 21px
        cursor pointer
        padding 10px 10px
        path
            transition fill .25s ease
        &:hover path
            fill pink
    &_docsHeader, &_docsListItem
        white-space nowrap
    &_docsList
        list-style-type none
    &_docsListItem
        font-weight 400
        transition color .25s ease
        line-height 25px
        &:hover
            color pink
    &_docs
        border-radius 3px
        padding 30px 30px 60px
        position absolute
        left -30px
        top -25px
        box-shadow 1px 4px 20px 0 rgba(157, 155, 192, 0.24)
        background white
        z-index 20
        transition all .25s ease
        visibility hidden
        opacity 0
        &-active
            visibility visible
            opacity 1
        @media xs
            left 50%
            transform translateX(-50%)