

.HeaderPhantom.isOut
    transform translate3d(0,-50px,0)
    opacity 0
    transition opacity .5s ease, transform .5s ease
.sectionHeader.isOut
    transform translate3d(0,-50px,0)
    opacity 0
    transition opacity .5s ease, transform .5s ease
.HeaderPhantom.isReached
    transform translate3d(0,0,0) !important
    opacity 1 !important
    transition opacity .5s ease .2s, transform 1s ease .2s !important
.sectionHeader.isReached
    transform translate3d(0,0,0) !important
    opacity 1 !important
    transition opacity .7s ease, transform 1s ease !important



[data-animation-type]
    opacity 0
    @media smMinus
        opacity 1 !important
        animation-name unset !important

.isHidden
    opacity 0
    @media smMinus
        opacity 1 !important

[data-animation-hide]
    opacity 0
    transition opacity .2s ease
    @media smMinus
        opacity unset
        
[data-parallax-type]
    will-change transform
    
.animated
    visibility visible