duration = .3s

.Btn
    border-radius 100px
    height 43px
    color white
    text-transform uppercase
    position relative
    min-width 210px
    font-weight 300
    font-size 16px
    line-height 1
    display block
    cursor pointer
    font-family 'Circe', 'Trebuchet MS', 'Tahoma', 'Arial', 'sans-serif'
    background transparent
    z-index 20
    transition all .3s ease
    cursor pointer
    overflow hidden
    padding-top 4px
    background-size 200% 100%
    background-position 0 0
    animation bgpout .3s
    &:hover
        animation bgpin .3s
        animation-fill-mode forwards
    // &:before
    //     border-radius 100px
    //     content ''
    //     display block
    //     position absolute
    //     left 0
    //     bottom 0
    //     right 0
    //     top 0
    //     transform scaleX(0)
    //     pointer-events none
    //     will-change transform
    //     transform-origin bottom right
    //     transition transform 0.25s ease-out
    //     z-index -1
    // &:hover
    //     overflow visible
    //     color blue
    //     &:before
    //         transform-origin bottom left
    //         transform scaleX(1)
    &-transBlue, &-transPink, &-transWhite
        transition color .25s ease, border-color .25s ease
        border 1px solid transparent
    &-transBlue
        color blue
        border-color blue
    &-transWhite
        color white
        border-color white
    &-transPink
        color pink
        border-color pink
    &-transHoverBlue:hover
        color blue
        border-color blue
    &-transHoverPink:hover
        color pink
        border-color pink
    &-transHoverWhite:hover
        color white
        border-color white
        

    &-filledBlue
        color white
        background-color blue
    &-filledPink
        color white
        background-color pink
    &-hoverBlue:hover
        color blue
    &-hoverPink:hover
        color pink
    &-hoverWhite:hover
        color white


    &-simple
        &:before, &:after
            display none



    // &-transparent
    //     background transparent !important
    //     border 1px solid transparent
    //     font-weight 300
    // &-blue&-transparent
    //     border-color blue
    //     color blue
    // &-pink&-transparent
    //     border-color pink
    //     color pink
    // &-white&-transparent
    //     border-color white
    //     color white

    &_iconWrapper
        position absolute
        top 50%
        right 6px
        transform translateY(-50%)
        size 33px 33px
        background white
        border-radius 30px
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        padding-left 3px
        background white
        overflow hidden
        padding-top 2px
        pointer-events none
        transition background .15s ease .2s
        &:before
            content ''
            display block
            position absolute
            size 100% 100%
            top 0
            left 0
            background blue
            transform scaleX(0)
            transform-origin bottom right
            transition transform 0.15s ease-out .15s
    &:hover &_iconWrapper:before
            transform scaleX(1)
            transform-origin bottom left

    &-animated:not(.Btn-hover):before
        transform translate3d(100%,0,0)
        transition transform .3s ease
    &-animated:not(.Btn-hover) &_iconWrapper:before
        transform translate3d(100%,0,0)
        transition transform .2s ease .15s
    &-noEvent
        pointer-events none
    &_text
        size 100% 100%
        display block
        padding 2px 35px 0
        line-height 43px
        transition transition color .2s ease
        position relative
        z-index 11
    &-pink
        background pink
        &:before
            background white
    &:not(.Btn-animate)
        padding-top 5px
    &_icon
        position absolute
        top 0
        left 0
        size 100% 100%
        &:before
            content ''
            display block
            position absolute 0 0 0 0
            background url('../img/common/svg/btn-arrow-pink.svg') no-repeat 55% 55%
            pointer-events none
            transform-origin bottom left
            transition transform .2s ease .15s
        &:after
            content ''
            display block
            position absolute 0 0 0 0
            background url('../img/common/svg/btn-arrow-white.svg') no-repeat 55% 55%
            pointer-events none
            transform scaleX(0)
            transform-origin bottom right
            transition transform .2s ease .15s
            
    &:hover &_icon:after
        transform scaleX(1)
        transform-origin bottom left
    &:hover &_icon:before
        transform scaleX(0)
        transform-origin bottom right
        
.btnWrapper
    display block
    





