.Btn
    border-radius 100px
    height 43px
    color white
    text-transform uppercase
    padding 0 35px
    position relative
    min-width 210px
    font-weight 300
    font-size 16px
    line-height 43px
    display block
    font-family 'Circe', 'Trebuchet MS', 'Tahoma', 'Arial', 'sans-serif'
    &-pink
        background pink
    &-transparent
        background transparent
    &-pink&-transparent
        border 1px solid pink
        color pink
        font-weight 400
    &-blue&-transparent
        border 1px solid blue
        color blue
        font-weight 400
    &_iconWrapper
        position absolute
        top 50%
        right 6.5px
        transform translateY(-50%)
        size 33px 33px
        background white
        border-radius 30px
        display: flex
        flex-flow row nowrap
        justify-content center
        align-items center
        padding-left 3px
        padding-top 2px
        &:before
            content ''
            size 9px 13px
            display block
            background url('../img/common/svg/btn-arrow.svg')
            