.CalculatorSection
    background-repeat no-repeat
    background-size cover
    background-position 50% 50%
    position relative
    overflow hidden
    &:before
        content ''
        display block
        background rgba(50, 116, 255, 0.66);
        position absolute
        top 0
        left 0
        size 100% 100%
    &:after
        content ''
        display block
        background rgba(46,162,255,.3)
        position absolute
        top 50%
        left 50%
        size 200% 68vw
        transform translate(-54%, -50%) rotate(130deg)
    &_container
        height 100%
        padding-top 66px
        padding-bottom 96px
        position relative
        z-index 10
        @media xs
            padding 30px 18px 0
    &_header, &_text
        color white
        text-align center
    &_header
        font-size 35px
        font-weight 500
        padding-bottom 0
        @media xs
            font-size 22px
            padding-bottom 7px
    &_text
        margin-bottom 70px
        @media xs
            font-size 14px
            line-height 1.64
            padding 0 20px
            margin-bottom 30px
    &_form
        padding-right 108px
        @media xs
            position relative
            padding-right 0
    &_desc
        color white
        float left
        width 100px
        padding-top 9px
        margin-right 10px
        @media xs
            width 100%
            text-align center
            font-size 14px
            margin-bottom 9px
            padding-top 11px
            &Br
                display none
    &_currencyWrapper &_desc
        @media xs
            margin-bottom 40px
    &_formulaWrapper &_desc
        margin-bottom 39px
    &_addressWrapper &_desc
        margin-bottom 15px
    &_inputsWrapper
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items space-between
        min-height 43px
        @media xs
            padding 0 0
            height auto
            width 100%
        &-address
            justify-content flex-end
            @media sm
                margin-bottom 0 !important
    &_currencyWrapper
        position relative
    &_addressWrapper
        @media xs
            margin-bottom 70px
    &_currencyWrapper, &_formulaWrapper, &_addressWrapper
        @media xs
            display flex
            flex-flow column nowrap
            align-items center
            


    &_field-formula &_inputField, &_inputField
        &:before, &:after
            position absolute
            top -35px
            color white
            @media xs
                font-size 14px
                top -27px
                

    &_currencyWrapper &_inputField:first-of-type, &_currencyWrapper &_inputField:last-of-type, &_inputField-formula, &_inputField-price
        &:before
            left 50%
            transform translateX(-50%)
            white-space nowrap
            font-weight 300

    &_currencyWrapper &_inputField:first-of-type
       &:before
            content 'Amount (ETH)'
    &_currencyWrapper &_inputField:last-of-type
        &:before
            content 'Current ETH price'
            
    &_inputField-formula
       &:before
            content 'Amount (LTY)'
    &_inputField-price
        &:before
            content 'Price of purchase'
            
    &_inputField-formula
        @media smMinus
            margin-bottom 55px

    &_input-currency
        text-align center !important
        
    &_inputField
        flex-basis 49%
        position relative
        @media xs
            flex-basis 100%
        &:nth-of-type(1)
            @media xs
                margin-bottom 38px
        &:nth-of-type(2)
            @media xs
                margin-bottom 15px
        &:nth-of-type(3)
            @media xs
                margin-bottom 15px
                &:after
                    content 'to'
                    right 28%
                    right 50%
                    transform translateX(50%)

    &_field-disabled:after
        content ''
        display block
        size 15px 15px
        background url('../img/common/svg/check.svg') no-repeat center
        background-size contain
        position absolute
        top 50%
        transform translateY(calc(-50% + 2px))
        right 17px
        transition opacity .25s ease
    &_inputsWrapper-currencyWrapper &_input
        width 100%
        text-align center
    &_inputsWrapper
        margin-bottom 55px
        @media xs
            margin-bottom 0
    &_formulaWrapper &_inputsWrapper-row &_input
        margin-bottom 15px
    &_addressWrapper &_input
        font-weight 300
        color white
        border 1px solid white
    &_formulaBtn
        background-image linear-gradient(90deg, #f84f78 50%, white 50%)
        @media xs
            width 100%
        @media sm
            margin-left auto
    &_btnWrapper
        @media xs
            width 100%
        @media sm
            margin-left auto
    &_inputsWrapper-row &_inputField
        flex-basis 100%
        @media xs
            flex-basis 100%
        @media sm
            flex-basis 100%
            margin-bottom 15px
    &_inputField &_input
        width 100%
    &_inputsWrapper-row &_input
        width 100%
    &_input
        height 43px
        line-height 43px
        border-radius 3px
        padding 0 25px
        padding-top 4px
        background white
        text(16px,400,'Circe', black, unset)
        letter-spacing .4px
        text-align center
        transition color .25s ease
        @media xs
            font-size 14px
            padding 3px 15px 0
    &_fieldInner
        word-break break-all
        color white
        padding 12px 30px 6px 30px
        width 100%
        border 1px solid white
        border-radius 3px
        display block
        height auto
        line-height 22px
        min-height 41px
        transition border-color .2s ease
        &-copied
            border-color #4CE47A
        @media xs
            font-size 14px
            text-align center
    &_fieldInner-filled
        background white
    &_field-disabled &_input, &_field-disabled &_fieldInner
        color rgba(0,0,0,.4)
        padding-right 40px
        @media xs
            padding-left 40px
    &_field
        flex-basis 70%
        position relative
        font-weight 400
        display: flex
        flex-flow row nowrap
        justify-content center
        align-items center
        min-height 43px
        @media smMinus
            flex-basis 100%
        &-formula
            flex-basis 100%
            justify-content space-between
            align-items flex-start
            @media smMinus
                flex-flow row wrap
    &_field-formula &_inputField
        @media smMinus
            flex-basis 100%
    &_field-formula &_fieldInner
        color rgba(0,0,0,.4)
    &_price
        &-result
            color #48C08D
        &-resultNoDiscount
            text-align center
            display block
    &_fieldInner-address
        @media xs
            margin-bottom 20px
    &_field-key
        @media sm
            margin-bottom 35px
    &_field-key &_fieldInner
        padding-right 40px
        @media xs
            text-align left
            padding-right 42px
            padding-left 23px
    &_fieldIcon
        position absolute
        top 50%
        transform translateY(-50%)
        right 10px
        display flex
        align-items center
        path
            transition fill .2s ease
        &-copied path
            fill #4CE47A
    &_formulaBtn
        min-width 240px
        @media xs
            margin-bottom 26px
    &_btnWrapper-buy
        margin-left auto
    &_field-row
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items space-between
        min-height 43px
        @media smMinus
            width 100%
    &_formula
        
        width 100%
        display block
    &_tip
        display inline-block
        position relative
        color white
        @media xs
            text-align center
            font-size 14px
            position absolute
            bottom -10px
            left 50%
            transform translateX(-50%)
            margin-left 0
            animation-name unset !important
        @media sm
            top -113px
        @media smPlus
            margin-left 110px
        @media md
            top -42px
        &:hover
            color white
        &:before
            content ''
            dispaly block
            height 1px
            width 100%
            position absolute
            bottom 1px
            left 0
            background white