.FeedbackPopup
    padding 25px 30px 25px
    border-radius 3px
    @media xs
        width 85vw
    &_icon
        display block
        width 41px
        margin 0 auto 10px
        animation-delay .2s
        &-out
            animation-delay 0s
    &_text
        font-size 20px
        font-weight 500
        color #050505
        @media xs
            font-size 15px
            text-align center
    .fancybox-close-small
        display none !important