.Footer
    background #FAFAFA
    &_container
        padding-top 70px
        padding-bottom 45px
    &_top
        display: flex
        flex-flow row nowrap
        justify-content space-between
        margin-bottom 23px
    &_menuItem
        color #383838
        display inline-block
        font-weight 400
        margin-right 20px
    &_link
        font-weight 400
    &_divider
        background #959595
        opacity .2
        height 1px
        margin-bottom 23px
    &_info
        display: flex
        flex-flow row nowrap
        justify-content space-between
        padding-bottom 10px
    &_addressText
        font-weight 400
        font-style normal
        &:before
            content url('../img/common/svg/location.svg')
            margin-right 7px
    &_socialWrapper
        display: flex
        flex-flow row nowrap
        justify-content space-between
        width 120px
    &_copyright
        display: flex
        flex-flow row nowrap
        justify-content space-between
    &_rightText
        position relative
        padding-left 30px
        &:before
            content ''
            height 67%
            width 1px
            background black
            position absolute
            left 15px
            top 50%
            transform translateY(-50%)
    &_copyrightText
        font-weight 400
    &_copyrightBlock
        font-weight 400
    &_copyrightBlock
        display: flex
        flex-flow row nowrap