.Footer
    background #FAFAFA
    &_container
        padding-top 70px
        padding-bottom 45px
        @media xs
            padding-top 40px
            padding-bottom 55px
    &_top
        @media smPlus
            display flex
            flex-flow row nowrap
            justify-content space-between
            margin-bottom 23px
        @media xs
            order 2
            position absolute
            width 100%
            left 50%
            transform translateX(-50%)
            top 68px
    &_menuItem
        color #383838
        display inline-block
        font-weight 400
        margin-right 20px
        transition color .25s ease
        &:hover
            color pink
    &_link
        font-weight 400
        @media xs
            display block
            text-align center
    &_divider
        background #959595
        opacity .2
        height 1px
        margin-bottom 23px
        @media xs
            display none
    &_info
        display: flex
        flex-flow row nowrap
        justify-content space-between
        padding-bottom 10px
        @media xs
            flex-wrap wrap
            order 1
    &_addressText
        font-weight 400
        font-style normal
        &:before
            content url('../img/common/svg/location.svg')
            margin-right 7px
            @media xs
                display none
        @media xs
            text-align center
    &_socialWrapper
        display flex
        flex-flow row nowrap
        justify-content space-between
        width 145px
    &_address
        @media xs
            order 3
            border-top 1px solid rgba(149,149,149,.2)
            padding-top 25px
    &_links
        @media xs
            margin 0 auto
            order 1
            margin-bottom 50px
    &_copyright
        display: flex
        flex-flow row nowrap
        justify-content space-between
        @media xs
            flex-wrap wrap
            justify-content center
    &_rightText
        position relative
        padding-left 30px
        white-space pre
        &:before
            content ''
            height 67%
            width 1px
            background black
            position absolute
            left 15px
            top 50%
            transform translateY(-50%)
    &_copyrightText
        font-weight 400
        @media xs
            order 2
    &_copyrightBlock
        font-weight 400
        display: flex
        flex-flow row nowrap
        @media xs
            order 1
    &_iconWrapper svg path
        transition fill .2s ease
    &_iconWrapper:hover svg path
        fill blue