.InvestPopup
    padding 25px 30px 25px
    border-radius 3px
    @media xs
        width 85vw
    &_text
        font-size 17px
        font-weigh 400
        color #050505
        @media xs
            font-size 15px
            text-align center
    .fancybox-close-small
        display none !important