.JoinPopupFeedback
    size 708px auto
    background white
    padding 50px
    overflow visible
    @media xs
        width 87vw
        padding 26px
    &_head
        font-size 35px
        font-weight 500
        text-align center
        color blue
        font-family 'circe'
        margin-bottom 30px
        @media xs
            font-size 27px
    &_text
        font-size 17px
        line-height 1.5
        font-weight 400
        text-align center
        font-family 'circe'
        color #000000
        margin-bottom 45px
        @media xs
            font-size 15px
            margin-bottom 25px
            br
                display none
    &_btn
        margin 0 auto
        size 180px 43px
        border-radius 100px
        background pink
        font-size 16px
        font-family 'circe'
        color white
        font-weight 300
        text-transform uppercase
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        padding-top 3px
        position relative
        cursor pointer
        svg
            vert()
            right 20px
    &_btnLink
        display block
        width 180px
        margin 0 auto
        cursor pointer

    &_btnClose
        size 43px 43px
        background blue url('../img/common/svg/cross.svg') no-repeat center
        background-size 16px 16px
        border-radius 43px
        position absolute
        right -63px
        top 0
        cursor pointer
        display flex
        justify-content center
        align-items center
        transition all .25s
        font-size 0
        @media smMinus
            top -63px
            right 0


.fancybox-container-joinFeedback .fancybox-bg
    background rgba(49,111,223,.8)