.MapPopup
    size 95vw 70vh
    overflow visible
    &_map
        size 100% 100%
        position absolute
        top 0
        left 0
        .gm-bundled-control.gmnoprint
            display none
    &_btnClose
        size 43px 43px
        background pink url('../img/common/svg/cross.svg') no-repeat center
        background-size 16px 16px
        border-radius 43px
        position absolute
        right 0
        top -63px
        cursor pointer
        display: flex
        justify-content center
        align-items center