.MapSection
    height 260px
    position relative
    &_map
        position absolute
        size 100% 100%
        left 0
        top 0
    &_btn
        position absolute
        bottom 50px
        left 50%
        transform translateX(-50%)
        @media xs
            width 90%
        


a[href^="http://maps.google.com/maps"]
    display none !important
a[href^="https://maps.google.com/maps"]
    display none !important
.gm-style-cc, .gm-bundled-control-on-bottom, .gm-style-mtc, .gm-fullscreen-control, .gm-svpc
    display none
.gm-bundled-control.gmnoprint
    left auto !important
    bottom 75px
    right 53px
    top auto !important
    @media xs
        display none