.NewsSection
    background #FAFBFB
    &_container
        height 100%
        padding-top 50px
        @media xs
            padding-top 0
        @media sm
            padding 0 45px
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        text-transform uppercase
        bottom -57px
        @media xs
            bottom -50px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 95px
        @media xs
            font-size 22px
    &_newsWrapper
        display: flex
        flex-flow row wrap
        justify-content space-between
    &_newsCard
        flex-basis 44%
        margin-bottom 135px
        position relative
        @media xs
            flex-basis 100%
            padding-right 35px
            margin-bottom 80px
            &:before
                content url('../img/common/svg/arrow-short-blue.svg')
                position absolute
                bottom -38px
                right 0
                z-index 12
        @media sm
            margin-bottom 75px
        &:after
            content attr(data-date)
            color black
            position absolute
            left 0
            bottom -35px
            color #9fa3a7
            font-size 14px
            line-height 1.86
    &_newsCard:hover &_newsHeader, &_newsCard:hover &_newsDate
        @media md
            color white
    &_newsCard:hover &_newsImg:after
        animation-play-state running
    &_newsCard:hover &_newsImg
        opacity 1
    &_newsHeader
        font-size 35px
        color #212121
        font-weight 400
        z-index 10
        position relative
        transition color .2s ease
        @media xs
            font-size 22px
            line-height 1.14
        @media sm
            font-size 25px
    &_newsImg
        background-repeat no-repeat
        background-size cover
        background-position top left
        display block
        position absolute
        size calc(100% + 130px) calc(100% + 140px)
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 9
        opacity 0
        transition opacity .3s ease
        &:after
            content url('../img/common/svg/arrow-short-white.svg')
            position absolute
            top 50%
            right 40px
            transform translateY(-50%)
            z-index 12
            animation newsArrow 1s ease-out infinite
            animation-play-state paused
        &:before
            content ''
            display block
            position absolute
            left 0
            top 0
            size 100% 100%
            background blue
            opacity .8
        @media smMinus
            display none
    &_btnMore
        margin 0 auto 100px
        @media xs
            margin 0 0 70px
            width 100%