.PartnersSection
    background #f7f7f7
    position relative
    z-index 20
    &_container
        height 100%
        padding 0 0
    &_slider
        width 100%
        min-height 87px
        display flex
        align-items center
    &_sliderWrapper
        size 100% 100%
        @media md
            display: flex
            flex-flow row nowrap
            justify-content space-between
    &_pagination
        position static
        margin-bottom 20px
        display flex
        justify-content center
        align-items center
        margin-top 10px
    &_bullet
        size 6px 6px
        margin 0 10px
        background #9fa3a7
        border-radius 100%
        transition all .3s ease
        transform scale(1)
        &-active
            transform scale(1.4)
            background #316FDF
    &.isOut &_partnerWrapper
        transform scale(0)
    &.isReached &_partnerWrapper
        transform scale(1)
    &_partnerWrapper
        position relative
        display flex
        justify-content center
        align-items center
        transition transform .3s ease
        @media md
            display inline-flex
            width auto
    &_header
        font-size 25px
        color pink
        position relative
        font-size 25px
        &:after
            content ''
            display block
            size 100% 1px
            background rgba(151,151,151,.2)
            margin 18px 0
    &_text
        color #000000
        line-height 1.44
        font-weight 400
        margin-bottom 10px
    &_link
        color blue
        font-weight 400
        &:hover
            color blue
    &_partnerWrapper:hover &_partnerTip
        transform translate3d(-50%, 108%, 0)
        opacity 1
        visibility visible
    &_partnerTip
        position absolute
        width 371px
        height auto
        bottom 0
        left 50%
        transform translate3d(-50%, 118%, 0)
        opacity 0
        padding 32px 32px
        box-shadow 1px 4px 20px 0 rgba(157, 155, 192, 0.24)
        background white
        transition all .3s ease
        visibility hidden
        &:before
            content ''
            display block
            border 11px solid transparent
            border-bottom-color white
            position absolute
            top -21px
            left 50%
            transform translateX(-50%)
        @media smMinus
            display none
            


.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(1)
    transition-delay 0
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(2)
    transition-delay .2s
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(3)
    transition-delay .4s
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(4)
    transition-delay .6s
.PartnersSection.isReached .PartnersSectionpartnerWrapper:nth-of-type(5)
    transition-delay .8s
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(6)
    transition-delay 1s
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(7)
    transition-delay 1.2s
.PartnersSection.isReached .PartnersSection_partnerWrapper:nth-of-type(8)
    transition-delay 1.4s