.ProgressSection
    position relative
    padding-top 88px
    @media xs
        padding-top 30px
    &_container
        padding-bottom 100px
        @media xs
            padding 0
    &_infoText
        font-weight 500
        line-height 1.44
        color #6b7c93
        text-align center
        &:last-of-type
            margin-bottom 51px
        @media xs
            padding-left 30px
            padding-right 30px
            font-size 14px
            line-height 23px
    &_wrapper
        height 360px
        border-radius 3px
        background white
        padding 0 109px
        @media xs
            padding 0 0 60px
            height auto
        @media sm
            padding 0 40px
    &_top
        display: flex
        flex-flow row nowrap
        justify-content space-between
        padding-top 47px
        margin-bottom 42px
        @media xs
            flex-wrap wrap
            justify-content center
            padding-top 25px
            margin-bottom 0
    &_countWrapper
        display: flex
        flex-flow row nowrap
        justify-content center
    &_funds, &_discount, &_timer
        @media xs
            flex-basis 100%
            margin-bottom 20px
            padding-bottom 20px
            margin 0 20px 20px
            border-bottom 1px solid rgba(49,111,223,.1)
    @media xs
        &_funds
            order 2
        &_discount
            order 3
        &_timer
            order 1
            padding-bottom 40px
    &_fundsTitle, &_discountTitle, &_timerTitle
        font-size 14px
    &_fundsTitle, &_fundsText, &_timerTitle, &_day, &_hours, &_minutes, &_seconds
        color blue
        font-weight 400
    &_fundsText
        color blue
    &_discountTitle, &_discountText
        color pink
        font-weight 400
    &_fundsText, &_discountText, &_day, &_hours, &_minutes, &_seconds
        font-size 30px
        line-height 0.77
        text-align center
    &_hours, &_minutes, &_seconds
        &:before
            content ':'
            margin 0 7px
        &:after
            right 0
            transform translateX(13%)
    &_day, &_hours, &_minutes, &_seconds
        position relative
        &:after
            content attr(data-text)
            font-size 13px
            color blue
            position absolute
            bottom -20px
    &_day
        &:after
            left 50%
            transform translateX(-50%)
    &_fundsTitle, &_discountTitle, &_timerTitle
        padding-bottom 16px
        text-align center
    &_fundsTitle, &_discountTitle
        @media xs
            padding-bottom 12px
    &_hr
        background #316fdf
        opacity .1
        margin-bottom 70px
    &_progressWrapperScrollable
        width 90%
        height 150px
        padding-top 50px
        @media xs
            padding 50px 0 0 20px
            width 100%
    &_progressWrapper
        @media xs
            width 143vw
            padding-right 60px
    &_progressBarGeneral
        width 100% !important
        height 5px
        background #eaeaea
        position relative
    &_progressBarCurrent
        position absolute
        left 0
        top 0
        height 100%
        width 33%
        z-index 10
        background linear-gradient(to right, #b3d8ff, #f84f78)
        &:before
            content ''
            display block
            size 14px 14px
            border 2px solid white
            border-radius 14px
            background pink
            position absolute
            right -1px
            top 50%
            transform translate(6.5px,-50%)
        &:after
            content attr(data-collected-money)
            color blue
            position absolute
            font-weight 500
            top -40px
            right 0
            white-space nowrap
            transform translateX(43%)
    &_progressPoint
        size 1px 23px
        background blue
        z-index 10
        position absolute
        top 50%
        transform translateY(-50%)
        &:after, &:before
            position absolute
            left 50%
            transform translateX(-50%)
            color blue
            white-space nowrap
        &:after
            content attr(data-money)
            bottom -37px
            font-weight 500
        &:before
            content attr(data-state)
            bottom -60px
            font-weight 400
    &_progressPoint-1
        left 0
        &:before, &:after
            text-align left
            left -4px
            transform unset
    &_progressPoint-2
        left 50%
    &_progressPoint-3
        left 69%
    &_progressPoint-4
        right 0
        &:before, &:after
            text-align right
            transform translateX(calc(-100% + 3px))
            

.scrollbar {
  width: 640px;
  height: 5px;
  margin-top 100px
}


.nicescroll-rails
    left 17px !important
    height 7px !important
    border-radius 5px
    &:before
        content ''
        display block
        size 90% 3px
        position absolute
        left 0
        top 2px
        background #eaeaea
    .nicescroll-cursors:before
        content: ''
        display block
        position absolute
        left 50%
        top 50%
        size 50px 50px
        transform translate(-50%, -50%)