.RoadmapSection
    padding-top 27px
    position relative
    &_pattern
        background white url('../img/common/pattern.svg') no-repeat center
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        text-transform uppercase
        bottom -57px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 35px
    &_timerWrapper
        position relative
        margin-bottom 50px
    &_timerText
        color blue
        font-weight 400
        text-align center
    &_countWrapper
        display: flex
        flex-flow row nowrap
        justify-content center
        & > span
            font-size 30px
            color blue
            font-weight 400
            text-align center
            &:not(:first-of-type):before
                content ':'
                margin 0 7px
    &_day, &_hours, &_minutes, &_seconds
        position relative
        &:after
            content attr(data-text)
            font-size 13px
            color blue
            position absolute
            bottom -12px
    &_day:after
        left 1px
    &_hours, &_minutes, &_seconds
        &:after
            left 74%
            transform translateX(-53%)
            trasnform-origin 50% 50%
    &_sliderContainer
        padding-left 160px
        padding-bottom 170px
    &_navBtn
        background-image none
        position absolute
        display flex
        align-items center
        top 250px
    &_btnPrev
        transform rotate(180deg)
        left 210px
    &_btnNext
        right 210px
    &_slideContent
        width 460px !important
        position relative
        display flex
        align-items flex-start
        padding 0 40px
    &_slideInnerContent
        padding 40px 40px
        position relative
        z-index 250
        border-radius 3px
        transition box-shadow .3s ease-out, background .3s ease-out, transform .5s ease
        &:hover
            background white
            transform translateY(-15px)
            box-shadow 1px 4px 20px 0 rgba(157, 155, 192, 0.24)
    &_slideInnerContent:hover &_slideHeader
        border-bottom-color #E9E9E9
        transform translateY(-10px)
    &_slideHeader
        font-size 25px
        font-weight 400
        line-height normal
        color blue
        padding-bottom 5px
        border-bottom 1px solid transparent
        transition all .3s ease
    &_slideContent
        &:before
            content ''
            display block
            height 4px
            width 150vw
            background blue
            position absolute
            top 170px
            right 230px
        &:after
            content ''
            display block
            size 20px 20px
            background blue
            border solid 2px white
            position absolute
            top 50%
            left 50%
            transform translateX(-50%)
            border-radius 20px
            top 161.5px
            z-index 200
    &_slide-reached &_slideHeader
        color pink
    &_slide-reached &_slideContent
        &:before
            background pink
        &:after
            background pink
    &_slide:first-of-type &_slideContent:before
        width 150vw
    &_slide:not(:first-of-type) &_slideContent:before
        width 750px
    &_slideText
        color #000000
        font-weight 400
    &_slideList
        list-style-type none
        color #000000
        font-weight 400
    &_slideText:first-of-type
        height 46px
        padding-bottom 45%
        














.RoadmapSection_slide:nth-of-type(1) .RoadmapSection_slideContent:before
    z-index 100
.RoadmapSection_slide:nth-of-type(2) .RoadmapSection_slideContent:before
    z-index 99
.RoadmapSection_slide:nth-of-type(3) .RoadmapSection_slideContent:before
    z-index 98
.RoadmapSection_slide:nth-of-type(4) .RoadmapSection_slideContent:before
    z-index 97
.RoadmapSection_slide:nth-of-type(5) .RoadmapSection_slideContent:before
    z-index 96
.RoadmapSection_slide:nth-of-type(6) .RoadmapSection_slideContent:before
    z-index 95
.RoadmapSection_slide:nth-of-type(7) .RoadmapSection_slideContent:before
    z-index 94
.RoadmapSection_slide:nth-of-type(8) .RoadmapSection_slideContent:before
    z-index 93
.RoadmapSection_slide:nth-of-type(9) .RoadmapSection_slideContent:before
    z-index 92
.RoadmapSection_slide:nth-of-type(10) .RoadmapSection_slideContent:before
    z-index 91
.RoadmapSection_slide:nth-of-type(11) .RoadmapSection_slideContent:before
    z-index 90
.RoadmapSection_slide:nth-of-type(12) .RoadmapSection_slideContent:before
    z-index 89
.RoadmapSection_slide:nth-of-type(11) .RoadmapSection_slideContent:before
    z-index 88