.RoadmapSection
    padding-top 27px
    position relative
    &_pattern
        background white url('../img/common/svg/pattern.svg') no-repeat center
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        text-transform uppercase
        bottom -57px
        @media smMinus
            bottom -52px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 35px
        @media xs
            font-size 22px
    &_timerWrapper
        position relative
        margin-bottom 50px
    &_timerText
        color blue
        font-weight 400
        text-align center
    &_countWrapper
        display: flex
        flex-flow row nowrap
        justify-content center
        & > span
            font-size 30px
            color blue
            font-weight 400
            text-align center
            &:not(:first-of-type):before
                content ':'
                margin 0 7px
    &_day, &_hours, &_minutes, &_seconds
        position relative
        &:after
            content attr(data-text)
            font-size 13px
            color blue
            position absolute
            bottom -12px
    &_day:after
        left 1px
    &_hours, &_minutes, &_seconds
        &:after
            left 74%
            transform translateX(-53%)
            trasnform-origin 50% 50%
    &_sliderContainer
        padding-left 160px
        padding-bottom 170px
        @media xs
            padding-left 0
            padding-bottom 40px
        @media sm
            padding-bottom 80px
    &_navBtn
        background-image none
        position absolute
        display flex
        align-items center
        top 250px
        @media xs
            top 172px !important
        @media sm
            top 202px
    &_btnPrev
        transform rotate(180deg)
        left 210px
        @media xs
            left 17px
        @media sm
            left 45px
    &_btnNext
        right 210px
        @media xs
            right 17px
        @media sm
            right 45px
    &_pagination
        position static
        margin-bottom 20px
        display flex
        justify-content center
        align-items center
        margin-top 10px
    &_bullet
        size 6px 6px
        margin 0 10px
        background #9fa3a7
        border-radius 100%
        transition all .3s ease
        transform scale(1)
        &-active
            transform scale(1.4)
            background #316FDF
    &_slideContent
        width 460px !important
        position relative
        display flex
        align-items flex-start
        padding 0 40px
    &_slideInnerContent
        padding 40px 40px
        position relative
        z-index 250
        border-radius 3px
        transition box-shadow .3s ease-out, background .3s ease-out, transform .5s ease
        &:hover
            @media md
                background white
                transform translateY(-15px)
                box-shadow 1px 4px 20px 0 rgba(157, 155, 192, 0.24)
        @media xs
            padding-left 0
            padding-right 115px
    &_slideInnerContent:hover &_slideHeader
        @media md
            border-bottom-color #E9E9E9
            transform translateY(-10px)
    &_slideHeader
        font-size 25px
        font-weight 400
        line-height normal
        color blue
        padding-bottom 5px
        border-bottom 1px solid transparent
        transition all .3s ease
        @media xs
            font-size 22px
    &_progress
        &:before
            content ''
            display block
            height 4px
            width 300vw
            background blue
            position absolute
            top 175px
            right 230px
            @media xs
                right 315px
                top 158px
    &_slide-last &_progress
        &:after
            content ''
            display block
            height 4px
            width 300vw
            background blue
            position absolute
            top 175px
            left 0
            @media xs
                top 158px
    &_slideContent
        &:after
            content ''
            display block
            size 20px 20px
            background blue
            border solid 2px white
            position absolute
            left 50%
            transform translateX(-50%)
            border-radius 20px
            top 166.5px
            z-index 200
            @media xs
                left 32%
                top 148.5px
    &_slide-reached &_slideHeader
        color pink
    &_slide-reached &_slideContent, &_slide-reached &_progress
        &:before
            background pink
        &:after
            background pink
    &_slide:first-of-type &_slideContent:before
        width 150vw
    &_slide:not(:first-of-type) &_slideContent:before
        width 750px
    &_slideText
        color #000000
        font-weight 400
        @media xs
            font-size 14px
    &_slideList
        list-style-type none
        color #000000
        font-weight 400
    &_slideText:first-of-type
        height 46px
        padding-bottom 45%
        














.RoadmapSection_slide:nth-of-type(1)
    z-index 100
.RoadmapSection_slide:nth-of-type(2)
    z-index 99
.RoadmapSection_slide:nth-of-type(3)
    z-index 98
.RoadmapSection_slide:nth-of-type(4)
    z-index 97
.RoadmapSection_slide:nth-of-type(5)
    z-index 96
.RoadmapSection_slide:nth-of-type(6)
    z-index 95
.RoadmapSection_slide:nth-of-type(7)
    z-index 94
.RoadmapSection_slide:nth-of-type(8)
    z-index 93
.RoadmapSection_slide:nth-of-type(9)
    z-index 92
.RoadmapSection_slide:nth-of-type(10)
    z-index 91
.RoadmapSection_slide:nth-of-type(11)
    z-index 90
.RoadmapSection_slide:nth-of-type(12)
    z-index 89
.RoadmapSection_slide:nth-of-type(11) .RoadmapSection_slideContent:before
    z-index 88