.Signup
    size 398px auto
    max-height 100%
    padding 33px 38px
    border-radius 3px
    background white
    box-shadow 0 6px 26px 0 rgba(46, 83, 163, 0.4)
    z-index 15
    center()
    @media xs
        transform unset
        margin 0 auto 55px
        position relative 0 0 0 0
        padding 33px 18px
        width 92vw !important
    @media sm
        width 49.5vw !important
    &_head
        font-size 25px
        font-family 'Circe'
        line-height normal
        font-weight 500
        color blue
        text-align center
        padding-bottom 30px
    &_inputWrapper-confirm
        margin-bottom 34px
    &_inputWrapper
        position relative
        overflow visible
        margin-bottom 25px
    &_checkboxWrapper.error &_checkboxLabel:before
        border-color #ee7575
    &_inputWrapper.error &_error
        opacity 1
        transform translate3d(0,0,0)
    &_inputWrapper.error &_input
        border-color #EE7575
    &_input
        size 100% 45px
        font-size 16px
        font-family 'Circe'
        color #000000
        border-bottom 2px solid rgba(151, 151, 151, .3)
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder
            color rgba(0,0,0,.5)
    &_error
        color #EE7575
        font-size 14px
        font-weight 400
        position absolute
        left 0
        bottom -22px
        transform translate3d(35px,0,0)
        opacity 0
        transition all .25s ease
        

    &_passwordComplexity
        vert()
        right 0
        display flex
        flex-flow row nowrap
        justify-content flex-end
        align-items center
        padding-top 12px
        &:before
            content attr(data-strength-state)
            position absolute calc(50% - 9px) 0 0 50%
            transform translate(-50%,-50%)
            font-size 14px
            letter-spacing 0.4px
            text-align center
    &_complexityBar
        size 25px 3px
        border-radius 1.5px
        margin-left 5px
    &_passwordComplexity-weak &_complexityBar:nth-of-type(1)
        background #FF6966 !important
    &_passwordComplexity-normal &_complexityBar:not(:nth-of-type(3))
        background #FC9C28 !important
    &_passwordComplexity-strong &_complexityBar
        background #4fddbe !important
    &_passwordComplexity-weak:before
        color #FF6966 !important
    &_passwordComplexity-normal:before
        color #FC9C28 !important
    &_passwordComplexity-strong:before
        color #4fddbe !important
        

    &_captcha
        display: flex
        justify-content center
        margin 0 auto 20px
        @media xs
            transform scale(0.88)
    &_checkbox
        position absolute
        visibility hidden
        opacity 0
    &_checkbox:checked + &_checkboxLabel:before
        background url(../img/common/svg/check-entry.svg) no-repeat center
        background-size 10px 10px
    &_checkboxWrapper
        margin-bottom 20px
    &_checkboxLabel
        width 100%
        padding-left 35px
        font-size 16px
        line-height 1.44
        letter-spacing 0.4px
        color #000000
        position relative
        cursor pointer
        @media xs
            font-size 14px
        &:before
            content ''
            display block
            size 20px 20px
            border 1px solid blue
            vert()
            left 0
    &_termsLink
        color blue
    &_socialWrapper
        width 210px
        display flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
        margin 0 auto
        padding-top 1px
    &_socialLink
        display inline-flex
        align-items center
        justify-content center
        size 43px 43px
        border 1px solid blue
        border-radius 50px
        opacity .8
        background transparent
        transition all .25s ease
        &:hover
            background blue
    &_iconPath
        transition all .25s ease
    &_socialLink:hover &_iconPath
        fill white
    &_btn
        margin 0 auto 10px
        background-image linear-gradient(90deg, #f84f78 50%, #2d6dfb 50%)
    &_btnIcon
        background white
        &:after
            background: url(../img/common/svg/btn-arrow-blue.svg) no-repeat 55% 55%;
    &_text
        text-align center
        font-weight 400
        font-family 'Circe'
    &_tipText
        font-size 16px
        line-height 1.44
        letter-spacing 0.4px
        text-align center
        color white
        position absolute
        bottom -40px
        font-weight 400
        width 100%
        hor()
        bottom -40px
    &_tipLink
        color pink
        text-decoration underline
        font-weight 400
        &:hover
            color pink
            text-decoration underline