.StructureSection
    background-repeat no-repeat
    background-size cover
    background-position 50% 50%
    position relative
    &:before
        content ''
        display block
        background rgba(50, 140, 255, 0.67);
        position absolute
        top 0
        left 0
        size 100% 100%
    &_content
        position relative
        height 100%
        padding-top 20px
    &_headerPhantom
        text-transform uppercase
        text-align center
        color rgba(255,255,255,.12)
        position relative
        @media xs
            white-space nowrap
        @media md
            bottom -57px
    &_header
        text-align center
        color white
        font-size 35px
        position relative
        padding-bottom 65px
        @media xs
            font-size 22px
    &_scheme
        display: flex
        flex-flow row nowrap
        justify-content center
        align-items space-between
        height 643px
        margin-bottom 60px
        @media xs
            padding 0 20px
            margin-bottom 40px
        @media smMinus
            flex-wrap wrap
            height auto
    &_schemeCard
        background white
        box-shadow 0 6px 26px 0 rgba(46, 83, 163, 0.4)
        border-radius 3px
        width 307px
        display: flex
        flex-direction row
        justify-content center
        align-items center
        padding 30px 32px 25px
        font-size 18px
        line-height normal
        font-weight 400
        text-transform uppercase
        text-align center
        position relative
        z-index 10
        &:before
            position absolute
            display block
            left 50%
        @media xs
            font-size 16px
        @media smMinus
            width 100%
            box-shadow unset
            border none
    &_schemePart
        display flex
        flex-flow column nowrap
        align-items center
        justify-content space-between
        @media sm
            width 93%
    &_schemeCenter
        border-radius 200px
        box-shadow 0 0 0 35px rgba(255,255,255,.1)
        @media smMinus
            margin 78px 0
            box-shadow unset
    &_schemePart-1, &_schemePart-3
        border dashed 2px rgba(255,255,255,.9)
        border-radius 21px
        padding 42px 48px
        @media xs
            padding  20px 20px
        @media sm
            padding 30px 30px
    &_schemePart-1
        @media smMinus
            margin-bottom 100px
    &_schemePart-2
        margin-left 42px
        margin-right 42px
        @media xs
            margin-left 23px
            margin-right 23px
        @media sm
            margin-left 60px
            margin-right 60px
    &_schemePart-3
        @media smMinus
            margin-top 100px
    &_schemePart-1 &_schemeCard
        color #f84f78
        height 118px
    &_schemePart-2 &_schemeCard
        color #a240f2
        min-height 160px
    &_schemePart-3 &_schemeCard
        color #2155c5
        height 118px
    &_schemePart-1 &_schemeCard:nth-of-type(1)
        @media smMinus
            z-index 11
            border-bottom-left-radius 0
            border-bottom-right-radius 0
        &:before
            content url("../img/common/svg/arrow-red.svg")
            transform translate(-50%, 162%)
            bottom 50%
            @media smMinus
                content url("../img/common/svg/arrow-red-filled.svg")
    &_schemePart-1 &_schemeCard:nth-of-type(2)
        &:before
            content url("../img/common/svg/arrow-red-long.svg")
            transform translate(195%, -30%)
            right 50%
            left unset
            top 50%
        @media smMinus
            border-radius 0
            padding 89px 0
            &:before
                display none
    &_schemePart-1 &_schemeCard:nth-of-type(3)
        &:before
            content url("../img/common/svg/arrow-red.svg")
            transform translate(-50%, -162%) rotate(180deg)
            top 50%
            @media smMinus
                content url("../img/common/svg/arrow-red-filled.svg")
        @media smMinus
            z-index 11
            border-top-left-radius 0
            border-top-right-radius 0
            &:after
                content url("../img/common/svg/arrow-red.svg")
                position absolute
                left 50%
                transform translate(-50%,116%)
    &_schemePart-3 &_schemeCard:nth-of-type(1)
        &:before
            content url("../img/common/svg/arrow-blue.svg")
            transform translate(-50%, 162%)
            bottom 50%
            @media smMinus
                content url("../img/common/svg/arrow-blue-filled.svg")
        @media smMinus
            z-index 11
            border-bottom-left-radius 0
            border-bottom-right-radius 0
            &:after
                content url("../img/common/svg/arrow-blue.svg")
                position absolute
                left 50%
                transform translate(-50%,-191%) rotate(180deg)
    &_schemePart-3 &_schemeCard:nth-of-type(2)
        &:before
            content url("../img/common/svg/arrow-blue-long.svg")
            transform translate(-195%, -30%)
            left 50%
            right unset
            top 50%
        @media smMinus
            border-radius 0
            padding 89px 0
            &:before
                display none
    &_schemePart-3 &_schemeCard:nth-of-type(3)
        &:before
            content url("../img/common/svg/arrow-blue.svg")
            transform translate(-50%, -162%) rotate(180deg)
            top 50%
            @media smMinus
                content url("../img/common/svg/arrow-blue-filled.svg")
        @media smMinus
            z-index 11
            border-top-left-radius 0
            border-top-right-radius 0
    &_schemePart-2 &_schemeCard:nth-of-type(1)
        &:before
            content url("../img/common/svg/arrow-purple.svg")
            transform translate(-50%, 192%)
            bottom 50%
    &_schemePart-2 &_schemeCard:nth-of-type(2)
        &:before
            content url("../img/common/svg/arrow-purple.svg")
            transform translate(-50%, -192%) rotate(180deg)
            top 50%
    &_text
        color white
        font-weight 300
        line-height normal
        text-align center
        padding 0 21vw 100px
        @media xs
            font-size 14px
            padding 0 10px 80px
        @media md
            padding-bottom 120px