.TeamSection
    position relative
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        text-transform uppercase
        @media xs
            white-space nowrap
            left -74px
        @media md
            bottom -57px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 45px
        @media xs
            font-size 22px
    &_switcherWrapper
        size 266px 42px
        display flex
        flex-flow row nowrap
        margin 0 auto
        margin-bottom 60px
    &_switcher
        flex-basis 50%
        border 1px solid blue
        background transparent
        transition all .3s ease
        text-align center
        line-height 42px
        font-weight 400
        color blue
        cursor pointer
        &-active
            background blue
            color white
        &-team
            border-top-left-radius 40px
            border-bottom-left-radius 40px
        &-advisiors
            border-top-right-radius 40px
            border-bottom-right-radius 40px
    &_navBtn
        background-image none
        position absolute
        display flex
        align-items center
        top 208px
        visibility hidden
        @media xs
            top 2015
        @media sm
            top 185px
    &_btnPrev
        transform rotate(180deg)
        left 210px
        @media xs
            left 20px
        @media sm
            left 50px
    &_btnNext
        right 210px
        @media xs
            right 20px
        @media sm
            right 50px
    &_slideContent
        @media xs
            padding 0 30px
        @media md
            width 250px
    &_sliderContainer
        visibility hidden
        opacity 0
        transition all .3s ease
        @media xs
            margin-bottom 70px !important
        @media md
            padding-left 13vw
        &-advisiors
            position absolute
            width 100%
            @media xs
                top 236px
            @media md
                top 289px
            @media sm
                top 267px
    &-advisiorsActive &_advisiorsBtn, &-teamActive &_teamBtn
        visibility visible
    &-teamActive &_sliderContainer-team
        visibility visible
        opacity 1
    &-advisiorsActive &_sliderContainer-advisiors
        visibility visible
        opacity 1
    &_thumbnail
        size 185px 185px
        margin 0 auto
        border-radius 180px
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom 10px
    &_name
        font-size 25px
        color #316fdf
        text-align center
    &_status
        line-height 1.75
        color #9b9b9b
        text-align center
        &:after
            content ''
            display block
            background #eaeaea
            size 40px 2px
            margin 10px auto 10px
    &_text
        color #9b9b9b
        line-height 1.56
        text-align center
        padding-bottom 15px
    &_socialWrapper
        width 85px
        margin 0 auto
        display: flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
    &_sliderContainer
        margin-bottom 100px
    &_sliderWrapper
        margin-bottom 60px
    &_scrollbar
        height 2px
        background rgba(49,111,223,.15)
        display block
        left 50% !important
        right unset
        transform translateX(-50%)
        @media xs
            width 86% !important
        @media sm
            width 80vw !important
        @media md
            width 1170px !important
    &_scrollbarHandle-team, &_scrollbarHandle-advisiors
        background: #f84f78
        border-radius 10px
        height 10px
        top -3px !important
        position relative
        cursor pointer
        @media xs
            top -2.5px !important
        @media sm
            top -3.5px !important