.TeamSection
    position relative
    background white
    z-index 10
    // overflow-x hidden
    // overflow-y visible
    @media smMinus
        margin-bottom 45px
    @media md
        margin-bottom 145px
    &_pattern
        background white url('../img/common/svg/pattern.svg') repeat center
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 80px
        @media xs
            font-size 22px
            margin-bottom 20px
        @media sm
            margin-bottom 110px
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        text-transform uppercase
        @media xs
            white-space nowrap
            left -74px
        @media md
            bottom -57px
    &_teamWrapper
        display flex
        flex-flow row wrap
        @media sm
            justify-content space-between
    &_teammate
        flex-basis 22.8%
        height auto
        background white
        box-shadow 1px 4px 20px 0 rgba(157, 155, 192, 0.24)
        margin-bottom 30px
        border-radius 3px
        overflow hidden
        display inline-flex
        flex-direction column
        &:not(:nth-child(4n))
            margin-right 27px
            @media smMinus
                margin-right 0
        @media xs
            flex-basis 100%
        @media sm
            flex-basis 47.7%
    &_photo
        background-size cover
        background-position center center
        size 100% 264px
        display flex
        flex-flow row nowrap
        justify-content flex-end
        align-items flex-end
        padding-right 10px
        padding-bottom 3px
        border 1px solid #EBEEF8
        border-top-left-radius 3px
        border-top-right-radius 3px
    &_linkWrapper
        size 30px 30px
        border-radius 3px
        background blue
        display inline-flex
        justify-content center
        align-items center
        background-repeat no-repeat
        background-size 16px 16px
        background-position center
    &_info
        text-align center
        padding 0 18px
        position relative
        flex 1
    &_name
        color #316fdf
        font-weight 500
        font-size 22px
        z-index 10
        text-align center
        position relative
        letter-spacing normal
        padding-top 20px
        margin-bottom 11px
        @media xs
            font-size 22px
    &_title
        line-height 1.5
        color #a2a2a2
        margin-bottom 85px
    &_moreInfo
        color blue
        position relative
        position absolute
        left 50%
        transform translateX(-50%)
        bottom 30px
        &:before
            content ''
            display block
            position absolute unset 0 1px
            height 1px
            background blue
        &:hover
            color blue