.Terms
    width 919px
    max-height 100%
    padding 33px 38px
    border-radius 3px
    background white
    box-shadow 0 6px 26px 0 rgba(46, 83, 163, 0.4)
    z-index 15
    center()
    @media xs
        transform unset
        margin 0 auto 20px
        position relative 0 0 0 0
        padding 33px 18px
    @media smMinus
        width 92vw !important
    &_head
        font-size 25px
        font-family 'Circe'
        line-height normal
        font-weight 500
        color blue
        text-align left
        padding-bottom 30px
        @media xs
            line-height 1.2
    &_text
        font-size 13px
    &_textWrapper
        height 210px
        // overflow-y scroll
        margin-bottom 45px
        padding-right 25px
        @media xs
            margin-bottom 20px
    &_checkboxLabel
        width 100%
        padding-left 35px
        font-size 16px
        line-height 1.44
        letter-spacing 0.4px
        color #000000
        position relative
        &:before
            content ''
            display block
            size 20px 20px
            border 1px solid blue
            vert()
            left 0
    &_btn
        margin-left auto
        background-image linear-gradient(90deg, #f84f78 50%, #2d6dfb 50%)
        @media xs
            width 100%
            margin-right auto
    &_btnIcon
        background white
        &:after
            background: url(../img/common/svg/btn-arrow-blue.svg) no-repeat 55% 55%;
            
.entry-page
    .nicescroll-cursors
        opacity 0.3
        right -1px
    .nicescroll-rails
        background rgba(216,216,216,.15)
        border-radius 10px
        width 9px !important

.nicescroll-rails-hidden
    visibility hidden