.VideoSection
    position relative
    &_pattern
        background #EFF2F5 url('../img/common/svg/pattern.svg') center
    &_container
        height 100%
        padding-top 20px
        padding-bottom 110px
        @media xs
            padding-bottom 50px
    &_header
        color blue
        font-weight 500
        font-size 35px
        z-index 10
        position relative
        text-align center
        letter-spacing normal
        margin-bottom 45px
        @media xs
            font-size 22px
            margin-bottom 20px
        @media sm
            margin-bottom 50px
    &_headerPhantom
        z-index 9
        position relative
        text-align center
        color #E5E8EB
        @media md
            bottom -57px
    &_videoWrapper
        position relative
        width 85%
        margin 0 auto
    &_videoWrapper:hover &_play, &_videoWrapper:hover &_pause
        opacity 1
    &_play, &_pause
        position absolute
        left 0
        top 0
        size 100% 100%
        display: flex
        flex-flow row nowrap
        justify-content center
        align-items center
        cursor pointer
        opacity 0
        transition opacity .25s ease
        &-hidden
            display none
    &_videoPreview
        display block
        background url('../img/common/video-section-bg.jpg') no-repeat center
        background-size cover
        size 100% 100%
        position absolute
    &_video
        size 100% 497px
        display block
        margin 0 auto 70px
        box-shadow 0 29px 32px 0 rgba(0, 0, 0, 0.12)
        animation-duration 1.2s
        @media xs
            height auto
            width calc(100% + 2px)
        @media sm
            size calc(100% - 2px) 333px
    &_text
        color #6b7c93
        font-weight 400
        text-align center
        margin-bottom 30px
        @media xs
            font-size 14px
            margin-bottom 30px
        @media sm
            padding 0 70px
            margin-bottom 55px
    &_linksWrapper
        display flex
        flex-flow row nowrap
        justify-content center
        @media xs
            flex-flow column nowrap
            align-items center
    &_linkImg
        size 190px auto
        margin 0 15px
        @media xs
            width 130px
            margin 0 0