.hidden-xs
    @media xs
        display none !important

.hidden-sm
    @media sm
        display none !important

.hidden-md
    @media md
        display none !important

.hidden-lg
    @media lg
        display none !important

.hidden
    display none !important

.clearfix
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both

.noscroll
    overflow hidden !important