@keyframes newsArrow {
    0% {
        transform translate(0, -50%)
    }
    50% {
        transform translate(15px, -50%)
    }
    100% {
        transform translate(0, -50%)
    }
}

@keyframes isOut {
    from {
        opacity 1
    }
    to {
        opacity 0
    }
}

@keyframes isHidden {
    from {
        opacity 1
    }
    to {
        opacity 0
    }
}

.isHidden
    animation isHidden .25s ease !important
    @media smMinus
        animation unset !important
    


@keyframes bgpin {
  from {
      background-position: 0 0;
  }
  to {
      background-position: -100% 0;
  }
}
@keyframes bgpout {
  from {
      background-position: -100% 0;
  }
  to {
      background-position: -200% 0;
  }
}


@keyframes scrollArrow {
  from {
    transform translate3d(0,0,0)
  }
  50% {
    transform translate3d(0,-20px,0)
  }
  to {
    transform translate3d(0,0,0)
  }
}

@keyframes rotation {
  from {
    transform rotate(0)
  }
  to {
    transform rotate(360deg)
  }
}


@keyframes video {
    0% {
        filter blur(0)
    }
    50% {
        filter blur(5px)
    }
    100% {
        filter blur(0)
    }
}

