




/*Main colors ———————————————————————*/
black = #000000
pink = #f84f78
blue = #316fdf



/*Box shadow ———————————————————————*/
btn-shadow = 0 30px 52px -12px rgba(0, 0, 0, 0.3)
img-shadow = 0 40px 102px -12px rgba(80,91,96, 0.65)


/*Media ——————————————————————————*/

xsh-height = 415
xsh-width = 737
xs-width = 768
sm-width = 1024
lg-width = 1600


/*MIXIN Text styles ——————————————————————*/
text($font-size, $font-weight, $font-family, $color, $line-height)
	font-size $font-size
	font-weight $font-weight
	font-family $font-family, 'Trebuchet MS', 'Tahoma', 'Arial', 'sans-serif'
	color $color
	line-height $line-height
	
center()
	position absolute
	left 50%
	top: 50%
	right auto
	bottom auto
	transform translate(-50%, -50%)
	
vert()
	position absolute
	top 50%
	bottom auto
	transform translate(0, -50%)

hor()
	position absolute
	left 50%
	right auto
	transform translate(-50%, 0)


/*MIXIN Media —————————————————————*/


xsh = "(max-width: " + xsh-width + "px) and (max-height: " + xsh-height + "px) and (orientation: landscape)"
xs = "(max-width: " + (xs-width - 1) + "px)"
smMinus = "(max-width: " + sm-width + "px)"
sm = "(min-width: " + xs-width + "px) and (max-width: " + (sm-width - 1) + "px)"
smPlus = "(min-width: " + xs-width + "px)"
md = "(min-width: " + sm-width + "px)"
lg = "(min-width: " + lg-width + "px)"