<!DOCTYPE html>
<html class="home-page">

<head>
    <link rel="preload" href="static/styles/fonts.css" media="all" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="static/styles/fonts.css">
    </noscript>
    <script>
    function loadCSS(e, n, o, t) { "use strict"; var d = window.document.createElement("link"),
            i = n || window.document.getElementsByTagName("script")[0],
            r = window.document.styleSheets; return d.rel = "stylesheet", d.href = e, d.media = "only x", t && (d.onload = t), i.parentNode.insertBefore(d, i), d.onloadcssdefined = function(e) { for (var n, o = 0; o < r.length; o++) r[o].href && r[o].href === d.href && (n = !0);
            n ? e() : setTimeout(function() { d.onloadcssdefined(e) }) }, d.onloadcssdefined(function() { d.media = o || "all" }), d }! function(t) { "use strict";
        t.loadCSS || (t.loadCSS = function() {}); var e = loadCSS.relpreload = {}; if (e.support = function() { var e; try { e = t.document.createElement("link").relList.supports("preload") } catch (t) { e = !1 } return function() { return e } }(), e.bindMediaToggle = function(t) {
                function e() { t.media = a } var a = t.media || "all";
                t.addEventListener ? t.addEventListener("load", e) : t.attachEvent && t.attachEvent("onload", e), setTimeout(function() { t.rel = "stylesheet", t.media = "only x" }), setTimeout(e, 3e3) }, e.poly = function() { if (!e.support())
                    for (var a = t.document.getElementsByTagName("link"), n = 0; n < a.length; n++) { var o = a[n]; "preload" !== o.rel || "style" !== o.getAttribute("as") || o.getAttribute("data-loadcss") || (o.setAttribute("data-loadcss", !0), e.bindMediaToggle(o)) } }, !e.support()) { e.poly(); var a = t.setInterval(e.poly, 500);
            t.addEventListener ? t.addEventListener("load", function() { e.poly(), t.clearInterval(a) }) : t.attachEvent && t.attachEvent("onload", function() { e.poly(), t.clearInterval(a) }) } "undefined" != typeof exports ? exports.loadCSS = loadCSS : t.loadCSS = loadCSS }("undefined" != typeof global ? global : this);
    </script>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="title in SEO">
    <meta name="description" content="Description">
    <meta name="keywords" content="Key words">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="static/styles/vendor.css">
    <link rel="stylesheet" type="text/css" href="static/styles/common.css">
</head>

<body>
    <div class="page-content">

    <!--=include ../layout/sidebar.html -->

    <!--=include ../layout/header.html -->

    <!--=include ../index.html -->

    <!--=include ../layout/footer.html -->

    <!--=include ../chunks/MapPopup.html -->
    
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGGvH7sL7aZN_uWOfwMoF8bDUATCqrAY8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="static/js/vendor.js"></script>
    <script src="static/js/common.js"></script>
</body>

</html>