input,
textarea,
button {
  border: none;
  outline: none;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 62.5%;
  min-height: 100%;
  font-family:  GillSans, Calibri, Trebuchet, sans-serif;
}
body {
  min-height: 100%;
  height: 100vh;
}
p,
span,
a,
i {
  font-size: 1.4rem;
}
button {
  cursor: pointer;
}
/*————————————————————————*/
.container {
  height: 100%;
}
.container-fluid {
  height: 100%;
}
.Header {
  height: 130px;
}
.Header_row > div {
  border: 1px solid #ccc;
  padding: 20px 0 0 20px;
}
.Header_head {
  font-weight: 400;
}
.Header_text-big {
  font-size: 2.5rem;
  font-weight: 600;
}
.Sidebar {
  background: rgba(0,0,0,0.8);
  height: 100%;
}
.Footer {
  height: 100%;
  background: rgba(0,0,0,.7);
}
#root {
  height: 80%;
}

.Header_link .btn-danger {
  margin-left: 10px;
}