<aside class="Sidebar hidden-md">

    <div class="Sidebar_controls">
        <button class="Sidebar_btn Btn Btn-transBlue Btn-transparent">BUY LTY</button>
        <div class="Sidebar_menuWrapper">
            <p class="Sidebar_menuText">MENU</p>
            <div class="Sidebar_menuHamburger">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                  <g fill="#316fdf" fill-rule="evenodd">
                    <circle cx="1.5" cy="1.5" r="1.5"/>
                    <circle cx="1.5" cy="7.5" r="1.5"/>
                    <circle cx="1.5" cy="13.5" r="1.5"/>
                    <circle cx="7.5" cy="1.5" r="1.5"/>
                    <circle cx="7.5" cy="7.5" r="1.5"/>
                    <circle cx="7.5" cy="13.5" r="1.5"/>
                    <circle cx="13.5" cy="1.5" r="1.5"/>
                    <circle cx="13.5" cy="7.5" r="1.5"/>
                    <circle cx="13.5" cy="13.5" r="1.5"/>
                  </g>
                </svg>
            </div>
        </div>
    </div>
    <nav class="Sidebar_nav">
        <ul class="Sidebar_navList">
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="ProgressSection">ICO</a>
            </li>
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="AboutSection">About</a>
            </li>
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="RoadmapSection">Roadmap</a>
            </li>
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="NewsSection">News</a>
            </li>
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="TeamSection">Team</a>
            </li>
            <li class="Sidebar_navItem">
                <a class="Sidebar_navLink" data-scroll-to="ContactSection">Contacts</a>
            </li>
        </ul>
    </nav>

</aside>