{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <title>User office</title>
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
</head>
<body>
<div id="root">
</div>
{% render_bundle 'main' %}
</body>
{% include 'includes/yandex_metrika.html' %}
{% include 'includes/google_analytics.html' %}
</html>
