<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Ponynote</title>
    </head>
    <body>
        <div id="root">
        </div>
        <ul>
            {% for m in milestones %}
            <li>
                <b>{{ m.label }}
                    {% if m.current %}
                    <span>Current</span>
                    {% endif %}
                </b>
                <p>{{ m.description }}</p>
            </li>
            {% endfor %}
        </ul>

        <a href="/login/">Login</a>
    </body>
</html>